.about__me {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.about__img {
    transform: translateX(-20px);
}

.text {
    position: relative;
    width: 350px;
    height: 502px;
    .about__title {
        font-size: 40px;
        line-height: 46px;
        letter-spacing: -0.36px;
        color: #3d3232;
        margin-bottom: 29px;
    }

    .about__text {
        width: 350px;
        height: 360px;
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
        color: #33323D;
    }
    .about__btn{
        padding: 17px 36px;
        background-color: transparent;
        border-color:  #33323D;
        margin-top: 24px;
        transition: all ease .8s;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 2px;
    }
    .about__btn:hover{
        border-color: white;
        box-shadow: 0px 0px 8px 4px rgba(160, 160, 160, 0.716);

    }
}

.text::before{
    content: '';
    width: 350px;
    height: 1px;
    background-color: #33323D;
    position: absolute;
    top: -48px;
}

.text::after{
    content: '';
    width: 350px;
    height: 1px;
    background-color:  #33323D;
    position: absolute;
    bottom: -48px;
    left: 0;
}