*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Public Sans', sans-serif;
    transition: all ease-in 0.8s;
}

.container{
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}